[data-mui-color-scheme="light"] {
  color-scheme: light;
}

[data-mui-color-scheme="dark"] {
  color-scheme: dark;
}

[data-mui-color-scheme="light"] .img-dark {
  display: none;
}

[data-mui-color-scheme="dark"] .img-light {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

b {
  font-weight: 400;
}

[data-mui-color-scheme="dark"] ::selection {
  background-color: rgba(123, 226, 255, 0.133);
}

[data-mui-color-scheme="light"] ::selection {
  background-color: rgba(0, 200, 255, 0.347);
}
